# Assigning and Printing a String

In [1]:
# Assigning the string "hello" to variable 'a'
a = "hello"
# Printing the value of 'a'
print(a)

hello

# Accessing and Printing Characters

In [3]:
# Accessing and printing the 3rd character (index 2) of the string 'Dileep Kumar'
x = "Dileep Kumar"
print(x[2])

l

# Slicing and Printing Characters

In [5]:
# Slicing and printing characters from index 2 to 4 of the string 'Dileep Kumar'
print(x[2:5])

lee

# Printing the Length of a String

In [8]:
# Printing the length of the string 'Dileep Kumar'
print(len(x))

12

# Converting to Uppercase and Lowercase

In [9]:
# Converting the string to uppercase and printing it
print(x.upper())

DILEEP KUMAR

In [10]:
# Converting the string to lowercase and printing it
print(x.lower())

dileep kumar

# Replacing Characters in a String

In [11]:
# Replacing 'D' with 'K' in the string and printing the result
print(x.replace("D", "K"))

Kileep Kumar

# Concatenating Strings

In [12]:
# Concatenating two strings and printing the result
x = "dileep"
y = "kumar"
z = x + " " + y
print(z)

dileep kumar

# Stripping Whitespace

In [13]:
# Converting the string to lowercase and printing it
print(x.lower())

dileep

In [14]:
# Stripping leading whitespaces and printing the result
print(x.lstrip())

dileep

In [15]:
# Stripping trailing whitespaces and printing the result
print(x.rstrip())

dileep

# Replacing Substring

In [16]:
# Replacing 'dileep' with 'hello' in the string and printing the result
print(x.replace("dileep", "hello"))

hello

# Finding and Checking

In [17]:
# Finding the index of the substring 'kumar' in the string
print(x.find("kumar"))

-1

In [18]:
# Checking if the string ends with 'kumar'
print(x.endswith("kumar"))

False

In [19]:
# Checking if the string ends with 'dileep'
print(x.endswith("dileep"))

True

# Multiplying and Splitting

In [20]:
# Creating a string with whitespace and multiplying it by 9
x = " dileep kumar "
y = x * 9
print(y)

 dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar

In [21]:
# Splitting a string into a list of words
string = "one two three four"
list = string.split()
print(list)

['one', 'two', 'three', 'four']

In [22]:
# Splitting a string with '/' into a list
string = "1/2/3/4/5/6/9"
list = string.split('/')
print(list)

['1', '2', '3', '4', '5', '6', '9']

In [23]:
# Splitting a string into a list of words using default whitespace delimiter
string = 'peach raspberry strawberry vanilla'
tokens = string.split()
print(tokens)

['peach', 'raspberry', 'strawberry', 'vanilla']

In [24]:
# Splitting a string with ';' into a list
string = '17;92;81;12;46;5'
tokens = string.split(';')
print(tokens)

['17', '92', '81', '12', '46', '5']

In [25]:
# Splitting a string with '.' into a list
my_address = 'www.example.com'
tokens = my_address.split('.')
print(tokens)

['www', 'example', 'com']