#                                         STRINGS IN PYTHON

## Assigning and Printing a String

In [2]:
# Assigning the string "hello" to variable 'a'
a = "hello"
# Printing the value of 'a'
print(a)

hello

## Accessing and Printing Characters

In [3]:
# Accessing and printing the 3rd character (index 2) of the string 'Dileep Kumar'
x = "Dileep Kumar"
print(x[2])

l

## Slicing and Printing Characters

In [4]:
# Slicing and printing characters from index 2 to 4 of the string 'Dileep Kumar'
print(x[2:5])

lee

## Printing the Length of a String

In [5]:
# Printing the length of the string 'Dileep Kumar'
print(len(x))

12

## Converting to Uppercase

In [6]:
# Converting the string to uppercase and printing it
print(x.upper())

DILEEP KUMAR

## Converting to Lowercase

In [7]:
# Converting the string to lowercase and printing it
print(x.lower())

dileep kumar

## Replacing Characters in a String

In [8]:
# Replacing 'D' with 'K' in the string and printing the result
print(x.replace("D", "K"))

Kileep Kumar

## Concatenating Strings

In [9]:
# Concatenating two strings and printing the result
x = "dileep"
y = "kumar"
z = x + " " + y
print(z)

dileep kumar

## Stripping Leading Whitespace

In [10]:
# Stripping leading whitespaces and printing the result
print(x.lstrip())

dileep

## Stripping Trailing Whitespaces

In [11]:
# Stripping trailing whitespaces and printing the result
print(x.rstrip())

dileep

## Replacing Substring

In [12]:
# Replacing 'dileep' with 'hello' in the string and printing the result
print(x.replace("dileep", "hello"))

hello

## Finding Index of Substring

In [13]:
# Finding the index of the substring 'kumar' in the string
print(x.find("kumar"))

-1

## Checking String

In [14]:
# Checking if the string ends with 'kumar'
print(x.endswith("kumar"))

False

In [15]:
# Checking if the string ends with 'dileep'
print(x.endswith("dileep"))

True

## Multiplying

In [16]:
# Creating a string with whitespace and multiplying it by 9
x = " dileep kumar "
y = x * 9
print(y)

 dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar  dileep kumar

## Splitting Into List Of Words

In [17]:
# Splitting a string into a list of words
string = "one two three four"
list = string.split()
print(list)

['one', 'two', 'three', 'four']

## Splitting Into List

In [18]:
# Splitting a string with '/' into a list
string = "1/2/3/4/5/6/9"
list = string.split('/')
print(list)

['1', '2', '3', '4', '5', '6', '9']

## Splitting Sting Into List Using Whitespace Delimiter

In [19]:
# Splitting a string into a list of words using default whitespace delimiter
string = 'peach raspberry strawberry vanilla'
tokens = string.split()
print(tokens)

# Splitting a string with ';' into a list
string = '17;92;81;12;46;5'
tokens = string.split(';')
print(tokens)

# Splitting a string with '.' into a list
my_address = 'www.example.com'
tokens = my_address.split('.')
print(tokens)

['peach', 'raspberry', 'strawberry', 'vanilla']
['17', '92', '81', '12', '46', '5']
['www', 'example', 'com']